html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  animation: vibr 0.1s infinite;
  animation-name: vibr;
  animation-duration: 0.1s;
}


button:hover {
  background-color: rgb(31, 151, 31);
  animation: none;
}

@keyframes vibr {
  0% {
    transform: translateX(-3px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(3px);
  }
  
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

a:hover {
  color:green;
}

a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: green;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

a:hover:before {
  left: 0;
  width: 100%;
}

.ball {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin-left: 100px;
  background-color: rgb(28, 83, 235);
  border-radius: 50%;
  animation: bounce 2.5s cubic-bezier(0.67, 0.18, 0.99, 0.25) forwards;
}

@keyframes bounce {
  0% {
      bottom: 100%;
      transform: scaleY(1);
  }
  60% {
      bottom: 0;
      transform: scaleY(0.5);
  }
  70% {
      bottom: 50%;
      transform: scaleY(1);
  }
  80% {
      bottom: 0;
      transform: scaleY(0.55);
  }
  85% {
      bottom: 25%;
      transform: scaleY(1);
  }
  90% {
      bottom: 0;
      transform: scaleY(0.6);
  }
  92% {
      bottom: 12.5%;
      transform: scaleY(1);
  }
  94% {
      bottom: 0;
      transform: scaleY(0.65);
  }
  95% {
      bottom: 6.25%;
      transform: scaleY(1);
  }
  96% {
      bottom: 0;
      transform: scaleY(0.7);
  }
  97% {
      bottom: 3.125%;
      transform: scaleY(1);
  }
  98% {
      bottom: 0;
      transform: scaleY(0.75);
  }
  98.5% {
      bottom: 1.5625%;
      transform: scaleY(1);
  }
  99% {
      bottom: 0;
      transform: scaleY(0.8);
  }
  99.5% {
      bottom: 0.78125%;
      transform: scaleY(1);
  }
  100% {
      bottom: 0;
      transform: scaleY(1);
  }
}